# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
venv/
env/
ENV/
.venv/
.pythonenv*
env.bak/
venv.bak/

# Distribution / packaging
build/
# dist/  ← REMOVIDO para permitir versionar
*.egg-info/
*.egg
pip-wheel-metadata/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
*.tmp
*.bak

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# =========================
# Ignorar linguagens extras
# =========================
*.html
*.htm
*.css
*.scss
*.sass
*.less
*.js
*.ts
*.jsx
*.tsx
*.bat
*.cmd
*.ps1
*.sh
*.zsh
*.fish
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg
*.exe
*.dll
*.msi
*.roff
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.man
*.mdoc
*.tmac
*.ms
*.me
*.mm
*.mom